:local .main {
  height: 90px;
  color: #f6f6f6;
}

:local .avatar {
  width: 70px;
  height: 90px;
  position: absolute;
  left: 0;
  animation: appearance 0.25s;
}

:local .enemyAvatar {
  width: 70px;
  height: 90px;
  position: absolute;
  right: 0;
  animation: enemyAppearance 0.25s;
  transform: scaleX(-1);
}

:local .background {
  position: absolute;
  width: 50%;
  height: 90px;
  background: radial-gradient(at top right, #219d76, #279371);
}

:local .enemyBackground {
  position: absolute;
  width: 50%;
  height: 90px;
  right: 0;
  background: radial-gradient(at top right, #b14242, #bf6363);
}

:local .actorsContent {
  width: 70%;
  position: relative;
  margin: 0 auto;
}

:local .pikachu {
  background:url("../../images/avatars/pikachu.png");
}

:local .charmander {
  background:url("../../images/avatars/charmander.png");
}

:local .squirtle {
  background:url("../../images/avatars/squirtle.png");
}

:local .bulbasaur {
  background:url("../../images/avatars/bulbasaur.png");
}

:local .content {
  position: relative;
  left: 70px;
  float: left;
  width: 40%;
}

:local .actorsCard {
  float: left;
  width: 100%;
}

:local .actorsName {
  float: left;
  width: 100%;
}

:local .actorsName > div {
  float: left;
  width: 50%;
  padding: 3px 5px 5px 5px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:local .actorsHp {
  float: left;
  width: 100%;
  padding: 3px 5px;
  border-top: 1px solid #f6f6f6;
}

:local .actorsHp > div:nth-child(1) {
  float: left;
  width: 45%;
  text-align: center;
  color: #f0f1a1;
  font-size: 25px;
}

:local .actorsHp > div:nth-child(2) {
  float: left;
  width: 10%;
  text-align: center;
  padding-top: 5px;
}

:local .actorsHp > div:nth-child(3) {
  float: left;
  width: 45%;
  text-align: center;
  color: #f0f1a1;
  font-size: 25px;
}

:local .actorsAtk {
  float: left;
  width: 100%;
  padding: 3px 5px;
  border-top: 1px solid #f6f6f6;
}

:local .actorsAtk > div:nth-child(1) {
  float: left;
  width: 45%;
  text-align: center;
  color: #f0f1a1;
  font-size: 20px;
}

:local .actorsAtk > div:nth-child(2) {
  float: left;
  width: 10%;
  text-align: center;
  padding-top: 5px;
  font-size: 13px;
}

:local .actorsAtk > div:nth-child(3) {
  float: left;
  width: 45%;
  text-align: center;
  color: #f0f1a1;
  font-size: 20px;
}

:local .actorCard {
  float: left;
  width: 100%;
  height: 90px;
  background: radial-gradient(at top right, #63ba9f, #40ab89, #219d76, #279371);
}

:local .actorName {
  float: left;
  width: 100%;
  padding: 3px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:local .actorHp {
  float: left;
  width: 100%;
  padding: 3px 5px;
}

:local .actorHpTitle {
  display: inline-block;
  font-size: 17px;
}

:local .actorHpCurrent {
  display: inline-block;
  color: #f0f1a1;
  width: 80%;
  text-align: center;
  font-size: 13px;
}

:local .actorHpCurrent > div {
  display: inline-block;
  font-size: 15px;
}

:local .actorStats {
  float: left;
  width: 100%;
}

:local .actorStats > div {
  float: left;
  width: 100%;
  border-top: 1px solid #f6f6f6;
  padding: 3px 5px;
}

:local .actorStats > div > div {
  float: left;
  width: 50%;
  font-size: 13px;
}

:local .actorStats > div > div > div {
  display: inline-block;
  color: #f0f1a1;
  font-size: 15px;
  padding-left: 10px;
}

@keyframes :local(appearance) {
  from {
    left: -30px; 
  }

  to {
    left: 0px;
  }
}

@keyframes :local(enemyAppearance) {
  from {
    right: -30px; 
  }

  to {
    right: 0px;
  }
}
