:local .main {
  width: 60px;
  height: 60px;
  outline: 1px solid white;
  background: yellowgreen;
  float: left;
  display: block;
}

:local .first {
  clear: left;
}

:local .moveArea {
  background: blue;
  width: 40px;
  height: 40px;
  margin: 10px;
}

:local .actorArea {
  background: paleturquoise;
  width: 40px;
  height: 40px;
  margin: 10px;
}

:local .attackArea {
  background: red;
  width: 40px;
  height: 40px;
  margin: 10px;
}
