:local .main {
  float: left;
}

:local .first {
  clear: left;
}

:local .moveArea {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: #36acef;
  opacity: 0.4;
  margin: 2px;
  border-radius: 4px;
}

:local .actorArea {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: #454545;
  opacity: 0.4;
  margin: 2px;
  border-radius: 4px;
}

:local .attackArea {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: #ef852f;
  opacity: 0.4;
  margin: 2px;
  border-radius: 4px;
}

:local .selectedArea {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  opacity: 0.6;
  margin: 2px;
  border-radius: 4px;
  animation: pulse 1s linear infinite alternate;
}

@keyframes :local(pulse) {
  from {
    background-color: #1aa9fb;
  }

  to {
    background-color: #0d79b7;
  }
}
