:local .main {
  outline: 1px solid white;
  background: yellowgreen;
  float: left;
  display: block;
}

:local .first {
  clear: left;
}

:local .moveArea {
  width: 100%;
  height: 100%;
  background: blue;
  opacity: 0.4;
}

:local .actorArea {
  width: 100%;
  height: 100%;
  background: paleturquoise;
  opacity: 0.4;
}

:local .attackArea {
  width: 100%;
  height: 100%;
  background: red;
  opacity: 0.4;
}

:local .selectedArea {
  width: 100%;
  height: 100%;
  background: purple;
}
