:local .main {
  width: 22px;
  height: 22px;
  outline: 1px solid white;
  background: yellowgreen;
  float: left;
  display: block;
}

:local .first {
  clear: left;
}

:local .moveArea {
  background: blue;
  width: 18px;
  height: 18px;
  margin: 2px;
}

:local .actorArea {
  background: paleturquoise;
  width: 18px;
  height: 18px;
  margin: 2px;
}

:local .attackArea {
  background: red;
  width: 18px;
  height: 18px;
  margin: 2px;
}
