:local .main {
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 15px;
  background: yellow;
  transition: all .2s;
  z-index: 2;
}

:local .selectedArea {
  position: absolute;
  background: purple;
  width: 40px;
  height: 40px;
  margin: 10px;
  z-index: 1;
}
