:local .main {
  position: absolute;
  background: yellow;
  transition: all .2s;
  z-index: 2;
}

:local .selectedArea {
  position: absolute;
  background: purple;
  z-index: 1;
}

:local .healthBar {
  background: crimson;
  height: 20%;
  width: 100%;
  bottom: 0;
  position: absolute;
}

:local .attackTarget {
  width: 50%;
  height: 50%;
  background: crimson;
  position: relative;
  left: 25%;
  top: -25%;
  border-radius: 50%;
}
